<section>
  <div class="contain-add-card">
    <div class="button-add-card">
      <div class="icon-plus">
        <i class="fa-solid fa-plus"></i>
      </div>
      <button id="mostrar-nova-tarefa" ng-click="formCtrl.open()">Cadastrar Tarefa</button>
    </div>
  </div>
  <div class="contain-grid-cards"> 
    <div ng-show="formCtrl.ativo">
      <div class="contain-acordion">
        <div class="accordion" id="accordion-nova-tarefa"> 
          <div class="contain-angle">  
            <div class="angle"> 
              <i class="fa-solid fa-angle-right" id="angle"> </i> 
            </div>
            <span>Nova Tarefa</span>
          </div>
        </div>
      </div>

      <div class="painel">
        <form class="body-painel" ng-submit="formCtrl.salvarTarefa()">
          <div class="input-one">
            Nome da Tarefa
            <input type="text" ng-model="formCtrl.novaTarefa.nome">
          </div>
          <div class="input-two"> 
            <div class="contain-itens">
              <span>Início</span>
              <div class="input-calendar"> 
                <input type="date" ng-model="formCtrl.novaTarefa.date_inicio">
              </div>
            </div>
            <div class="contain-itens">
              <span>Conclusão</span>
              <div class="input-calendar"> 
                <input type="date" ng-model="formCtrl.novaTarefa.data_fim">
              </div>
            </div>
          </div>

          <div class="input-three">
            <div class="contain-select">
              <span>Custo estimado</span>
              <div class="icon-input">
                <i class="fa-solid fa-brazilian-real-sign"></i>
                <input type="" ng-model="formCtrl.novaTarefa.custo">
              </div> 
            </div>
            <div class="contain-select" >
              <span>Status da Tarefa</span>
              <select ng-model="formCtrl.novaTarefa.status">
                <option>Pendente</option>
                <option>Em andamento</option>
                <option>Concluído</option>
              </select>
            </div>
          </div>

          <div class="contain-buttons">  
            <button class="span-back" type="button" ng-click="formCtrl.close()">
              <i class="fa-solid fa-rotate-left"></i>
              Voltar 
            </button>
            <div class="span-save">
              <i class="fa-solid fa-clipboard-list"></i>
              <input type="submit" class="button-save">
            </div>
            <div class="span-delete" ng-if="formCtrl.novaTarefa.id">
              <button class="delete-tarefa" type="button"  ng-click="formCtrl.excluirTarefa()">
                <i class="fa-solid fa-trash-can"></i><span>Excluir Tarefa</span>
              </button> 
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="contain-tarefas" id="contain-tarefas">
      <div class="card-tarefa" ng-repeat="tarefa in listCtrl.tarefas">
        <div class="contain-acordion-tarefa">
          <div class="accordion-tarefa" ng-click="itemCtrl.abrirTarefaItem(tarefa)">
            <div class="contain-angle">
              <div class="angle"><i class="fa-solid fa-angle-right"></i></div>
              <span>{{ tarefa.nome }}</span>
            </div>
          </div>
          <span class="contain-edit-tarefa" >
            <div ng-if="tarefa.id !== formCtrl.novaTarefa.id" class="edit-link" ng-click="formCtrl.editarTarefa(tarefa)"><i class="fa-solid fa-pencil"></i></div>
          </span>
        </div>
        <div class="body-painel-tarefa" ng-if="tarefa.aberta">
          <div class="painel-tarefa-comentario">
            <div class="contain-values-task">
              <div class="span-values-date">
                <span>Inicio</span>
                <div class="data-span"><p class="data_inicio">{{tarefa.date_inicio}}</p></div>
              </div>
              <div class="span-values-date">
                <span>Conclusão</span>
                <div class="data-span"><p class="data_fim">{{tarefa.data_fim}}</p></div>
              </div>
            </div>
            <div class="contain-values-custo">
              <div class="span-values-custo">
                <span> Custo Estimado</span>
                <div class="icon">
                  <i class="fa-solid fa-brazilian-real-sign"></i>
                  <div class="custo">{{tarefa.custo}}</div>
                </div> 
              </div>
              <div class="span-values-custo" >
                <span> Status da Tarefa </span> 
              <div class="status-tarefa">{{tarefa.status}}</div>
              </div>
            </div>
          </div>
          <div class="contain-comentarios" id="painel-comentarios">
            <div class="card-nav-comentario"> <i class="fa-solid fa-comments"></i> Comentários </div>
            <div class="painel-contain-comentario">
              <div class="card-comentario-value">
                <div class="body-card-comentario" ng-repeat="comentario in tarefa.comentarios">
                  <div class="conteudo-card">{{comentario.conteudo}} </div>
                  <div class="delete-comentario"><i class="fa-solid fa-trash"></i></div>
                </div>
              </div>
              <div class="contain-form-comentario">
                <form action="/tarefas/comentarios" method="post">
                  <input type="hidden" name="authenticity_token" value="${csrfToken}">
                  <textarea name="comentario[conteudo]" placeholder="Adicione um comentário..."></textarea>
                  <div class="enviar-form-comentario">
                    <button type="submit"><i class="fa-solid fa-envelope"></i> Enviar comentario</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

