<section ng-controller="TarefaController">

  <div class="toolbar p-2 border-bottom">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <div class="btn-group me-2" role="group">
            <button type="button" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
            <button type="button" class="btn btn-light border">Nova Infração</button>
          </div>
          <div class="input-group" style="width: 350px;">
            <input type="text" class="form-control" placeholder="Pesquise aqui">
            <button class="btn btn-primary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button class="btn btn-secondary" ng-click="abrirFiltro = true" type="button" title="Filtros">
              <i class="fa-solid fa-filter"></i>
            </button>
            <button class="btn btn-secondary" title="Imprimir"><i class="fa-solid fa-print"></i></button>
          </div>
        </div>
        <div>
          <button class="btn btn-secondary" type="button" title="Mais opções">
            <i class="fa-solid fa-ellipsis"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid p-4 contain-filtro-tarefa" ng-if="abrirFiltro">
    <div class="card shadow-sm p-4 body-filtro-tarefa">
      <div> 
        <div>
          <input type="number">   
          <input>   
          <input>   
          <select>
            <option>teste</option>
            <option>teste</option>
            <option>teste</option>
          </select> 
          <input type="date">   
          <input type="date">
        </div>
        <div>
          <div>
            <input type="text" class="form-control" placeholder="Pesquise aqui">
            <button class="btn btn-primary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>        
          <select>
            <option>teste</option>
            <option>teste</option>
            <option>teste</option>
          </select> 
          <select>
            <option>teste</option>
            <option>teste</option>
            <option>teste</option>
          </select> 
        </div>
      </div>
      <hr>
      <div>   
        <button class="btn btn-primary" type="button"><i class="fa-solid fa-check"></i> Aplicar</button>
        <button class="btn btn-danger" type="button"><i class="fa-solid fa-circle-xmark"></i> Limpar Busca</button>
      </div>
    </div>
  </div>

  
  <div class="container-fluid p-4">

    <div class="card shadow-sm"  ng-repeat="tarefa in listCtrl.tarefas">
      <div class="contain-header">
        <div class="body-header">
          <div class="item-header">
            <span style="color: #ffd700;">Advertência (30)</span>
          </div>
          <div class="item-header">
            <span><small style="color: red;">Multa (51)</small> <br> R$ 10.072,52</span>
          </div>
          <div class="item-header">
            <span><small style="color: #0047ab;">Total (51) </small><br>R$ 10.072,52</span>
          </div>
        </div>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
              <tr>
                <th class="ps-3" scope="col"> </th>
                <th scope="col" >Código / Status</th>
                <th scope="col">Título / Tipo</th>
                <th scope="col">Unidade / Infrator</th>
                <th scope="col">Data de cobrança / Valor</th>
                <th scope="col">Ocorrido em</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-click="abrirCard = true">
                <td class="ps-3"><input type="checkbox"></td>
                <td>
                  #107 <br>
                  <span class="badge text-bg-warning">Advertência</span>
                </td>
                <td><strong>{{tarefa.nome}}</strong></td>
                <td>-</td>
                <td>-</td>
                <td>20/06/2025 às 15:38</td>
                <td class="text-end">
                  <div class="dropdown">
                    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#">Editar</a></li>
                      <li><a class="dropdown-item" href="#">Cancelar</a></li>
                      <li><a class="dropdown-item" href="#">Imprimir</a></li>
                      <li><a class="dropdown-item" href="#">Enviar E-mail</a></li>
                      <li><a class="dropdown-item" href="#">Excluir</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card shadow-sm" ng-if="abrirCard">
            <div class="card-body p-4">

              <h5 class="mb-3">Dados Gerais</h5>
              <div class="row g-3">
                <div class="col-md-12">
                  <label for="titulo" class="form-label">Título</label>
                  <input type="text" class="form-control" id="titulo" value="asdasdasd">
                </div>

                <div class="col-md-3">
                  <label for="ocorrido-em" class="form-label">Ocorrido em</label>
                  <input type="date" class="form-control" id="ocorrido-em" value="2025-06-20">
                </div>

                <div class="col-md-2">
                  <label for="horario" class="form-label">Horário</label>
                  <input type="time" class="form-control" id="horario" value="15:38">
                </div>

                <div class="col-md-3">
                  <label for="tipo" class="form-label">Tipo</label>
                  <input type="text" class="form-control" id="tipo" placeholder="Digite um tipo">
                </div>

                <div class="col-md-4">
                  <label for="nome-infrator" class="form-label">Nome do Infrator</label>
                  <input type="text" class="form-control" id="nome-infrator" placeholder="Ex: João Batista">
                </div>
                
                <div class="col-md-8">
                  <label for="unidade" class="form-label">Unidade</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="unidade" placeholder="Digite uma unidade">
                    <button class="btn btn-outline-primary" type="button"><i class="bi bi-search"></i></button>
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="valor-multa" class="form-label">Valor da Multa</label>
                  <div class="input-group">
                    <span class="input-group-text">R$</span>
                    <input type="text" class="form-control" id="valor-multa" value="0,00">
                  </div>
                </div>
              </div>

              <h5 class="mt-5 mb-3">Anexos</h5>
              <div class="d-flex gap-2">
                <button class="btn btn-secondary"><i class="bi bi-camera-fill me-1"></i> Tirar Foto</button>
                <button class="btn btn-secondary"><i class="bi bi-paperclip me-1"></i> Anexar</button>
                  <div class="dropdown">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Selecione o Tipo
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Documento</a></li>
                    <li><a class="dropdown-item" href="#">Foto do Local</a></li>
                    <li><a class="dropdown-item" href="#">Outro</a></li>
                  </ul>
                </div>
              </div>
              <div class="text-center text-muted border rounded p-4 my-3">
                Nenhum anexo disponível!
              </div>
              <h5 class="mt-5 mb-3">Detalhes</h5>
              <div>
                <textarea class="form-control" id="editor-detalhes" rows="10">
                </textarea>
              </div>
            </div> <div class="card-footer bg-light text-end">
              <button type="button" class="btn btn-danger px-4">Cancelar</button>
              <button type="submit" class="btn btn-primary px-4 ms-2">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>