<nav class="navbar navbar-light bg-light">
  <div class="navbar-head">
    <div class="contain-toggle">
      <i class="fa-duotone fa-solid fa-bars"></i>
    </div>
    <div class="contain-logo">
      <%= image_tag "/logo2.png", class:'logo', alt: "Logo" %>
    </div>
    <span class="navbar-name">Seu Condominio</span>
  </div>
  <form class="form-inline">
    <div class="navbar-body">
      <span class="navbar-nick">Rogério</span>
      <button class="navbar-button">Sair</button>
    </div>
  </form>
</nav>