<nav class="navbar navbar-light bg-light">
  <div class="navbar-head">
    <div class="contain-toggle">
      <i class="fa-duotone fa-solid fa-bars"></i>
    </div>
    <div class="contain-logo">
      <%= image_tag "/logo2.png", class:'logo', alt: "Logo" %>
    </div>
    <span class="navbar-name">Seu Condominio</span>
  </div>
  <form class="form-inline">
      <div class="navbar-body">
        <span class="navbar-nick">Rogério</span>
        <button class="navbar-button">Sair</button>
      </div>
      <div class="Icons-infos-caret">
        <div class="contain-square">
          <i class="fa-solid fa-square" ></i>
        </div>
        <input class="form-control mr-sm-2" ng-model="termoDaBusca" type="search" placeholder="Buscar" aria-label="Buscar">
        <div  class="contain-caret" ng-click="listCtrl.buscar(termoDaBusca)">
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
  </form>
</nav>